.contatos-info{
    text-align: center;
    margin-top: 50px;
}

.contatos-info img{
    width: 100px;
    
}






@media screen and (min-width: 1024px){
    .contatos-info {
        display: flex; 
        justify-content: space-between; 
    }
    
    
    .contatos-info__1,
    .contatos-info__2 {
        flex: 1; 
        text-align: center; 
    }
}



