.projetos{
    text-align: center;
}
.projetos__titulo1{
    font-weight: bold; 
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.projetos__01{
    margin-top: -30px;
}

.projetos_titulo{
    font-weight: bold; 
    padding-bottom: 5px;
    text-transform: uppercase;
    color: black;
    margin-top: -40px;
}



.projetos_img{
    height: 350px;
    width: 350px;
}

.projetos-btn{
    border: 1px solid black;
    margin-top: 20px;
    border-radius:24px ;
    background-color: #014235;
    color: white;
    padding: 0.5em;
    width: 8em;
    text-transform: uppercase;
    font-weight: 600;
}

.projetos-btn:hover{
    background-color: transparent;
    color: #014235;

}

.projeto-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    cursor: pointer;
}
.projetos__01,
.projetos__02,
.projetos__03,  
.projetos__04,  
.projetos__05 { 
    scroll-snap-align: start;
}
.projeto-navigation {
    display: flex;
    justify-content: space-between;
}


.projeto-carousel::-webkit-scrollbar {
    display: none;
}


.nav-arrow{
    display: none;
}

@media screen and (min-width: 1024px){
    .todos-projetos {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        flex: 1; 
        text-align: center; 
    }
    .projetos__01,
    .projetos__02,
    .projetos__03 { 
        margin: 0 30px; 
    }
}


.carousel-nav {
    background-color: #ccc;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .carousel-nav.prev {
    position: absolute;
    left: 10px; /* Ajuste a posição conforme necessário */
  }
  
  .carousel-nav.next {
    position: absolute;
    right: 10px; /* Ajuste a posição conforme necessário */
  }
  .nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}